/* CONTACTO */
.contacto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.centrado .contacto-contenido {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.contacto-contenido .misdatos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50rem;
}

.nombre h3 {
    text-align: center;
}

.misdatos .contenidodatos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenidodatos .centradotexto {
    align-items: start;
}

.centradotexto .iconotexto {
    display: flex;
    align-items: flex-start;
    margin-bottom: 3.5rem;
}

.iconotexto {
    font-weight: 500;
}

.iconotexto h4 {
    font-size: 2.2rem;
}

.iconotexto i {
    font-size: 3.5rem;
    margin-right: 1rem;
}

.iconotexto .correo {
    margin-top: 0.5rem;
}

.contenidodatos .textdatos {
    width: 50rem;
    height: 15rem;
    resize: none;
}

.contenidodatos .inputdatos {
    width: 50rem;
    height: 5rem;
}

.contenidodatos .inputdatos,
.contenidodatos .textdatos {
    background-color: #fff;
    color: #000;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 500;
    border-radius: 50px;
    outline: none;
    border: none;
}

.contenidodatos .inputdatos:hover,
.contenidodatos .textdatos:hover {
    outline: 3px solid #fff;
}

.contenidodatos .inputdatos:focus,
.contenidodatos .textdatos:focus {
    outline: 3px solid var(--contraste);
}

.contenidodatos .botondatos {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #DEBD59;
    border: 0.2rem solid #DEBD59;
    color: var(--fondo-oscuro);
    z-index: 1;
    transition: .5s;
    width: 50rem;
    height: 6rem;
    padding: 1rem 2rem;
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom: 5rem;
    border-radius: 50px;
}

.contenidodatos .botondatos:hover {
    background: transparent;
    color: #DEBD59;
}

.contenidodatos .botondatos::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--fondo-oscuro);
    z-index: -1;
    transition: .5s;
}

.contenidodatos .botondatos:hover::before {
    width: 100%;
}

footer {
    padding: 2rem 0;
    align-items: center;
    text-align: center;
    background-color: var(--fondo-mas-oscuro);
}

footer h2 {
    font-size: 2.5rem;
    margin: 1rem;
}

footer h3 {
    font-size: 1.7rem;
    font-weight: 500;
    margin: 1rem;
}

/* Estilo para el botón Copiar */
.copy-btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background-color: #DEBD59;
    border: .2rem solid #DEBD59;
    border-radius: 50px;
    font-size: 2.2rem;
    font-weight: 800;
    color: var(--fondo-oscuro);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.copy-btn:hover {
    background: transparent;
    color: #DEBD59;
}

/* Efecto de fondo en hover para el botón Copiar */
.copy-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--fondo-oscuro);
    z-index: -1;
    transition: .5s;
}

.copy-btn:hover::before {
    width: 100%; /* Expande el fondo al pasar el ratón */
}


.mas {
    position: relative;
    z-index: 10;
}

.mas a:hover {
    color: var(--contraste);
}

/* Estilos del Popup de Correo Copiado */
.popup {
    display: none; /* Ocultar por defecto */
    position: fixed; /* Posicionar el popup de forma fija */
    inset: 0; /* Ocupa toda la pantalla */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    z-index: 9999; /* Asegurarse de que esté por encima de otros elementos */
}


.popup-content {
    background-color: rgba(222, 189, 89, 0.95); /* Fondo del popup */
    border: 1px solid #DEBD59; /* Bordes */
    padding: 20px; /* Espaciado interno */
    text-align: center; /* Alinear texto al centro */
    width: 300px; /* Ancho fijo inicial */
    max-width: 80%; /* Ancho máximo como porcentaje de la pantalla */
    box-shadow: 0 0 20px rgba(222, 189, 89, 0.5); /* Sombra */
    border-radius: 10px; /* Bordes redondeados */
    max-height: 80vh; /* Limitar la altura máxima al 80% de la altura de la pantalla */
    overflow-y: auto; /* Permitir desplazamiento vertical si el contenido es muy largo */
    transition: transform 0.3s ease; /* Suavizar la entrada y salida */
}


/* Estilos para el texto dentro del popup */
.popup-info {
    font-size: 18px; /* Tamaño del texto */
    line-height: 1.6; /* Espaciado entre líneas */
    color: #000; /* Color del texto más oscuro para contraste */
    text-align: center; /* Alinear el texto al centro */
}

/* Estilos del botón de cerrar */
.close {
    position: absolute; /* Posición del botón de cerrar */
    top: 10px; /* Espaciado superior */
    right: 15px; /* Espaciado derecho */
    font-size: 50px; /* Tamaño del botón de cerrar (aumentado) */
    cursor: pointer; /* Cambiar el cursor al pasar por encima */
    color: #ff0000; /* Color del botón de cerrar */
    padding: 10px; /* Espaciado interno para hacerlo más grande */
    border: none; /* Eliminar bordes si los hay */
    background: none; /* Eliminar fondo si hay */
    transition: transform 0.3s; /* Suavizar el efecto al pasar el ratón */
}

.close:hover {
    transform: scale(1.2); /* Aumentar tamaño al pasar el ratón */
    color: #ffcccc; /* Color más claro al pasar el ratón */
}
